@font-face {
    font-family: 'FontName';
    src: url('../fonts/FontName.eot') format("eot"),
         url("../fonts/FontName.woff") format("woff"),
         url("../fonts/FontName.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
    font-style: normal;
}